/* Estilos personalizados */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #1e1e1e; /* Fondo oscuro más claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: #333; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 15px;
}

/* Estilos para el formulario */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  color: #ffffff; /* Texto blanco */
}

.form-control {
  width: 100%;
  padding: 10px;
  background-color: #333; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  border: 1px solid #555; /* Borde gris */
  border-radius: 4px;
}

.btn-container {
  text-align: center; /* Centrar los botones en el formulario */
  margin-top: 20px; /* Espaciado superior para los botones */
}

.btn {
  background-color: #ff4081; /* Color de fondo rosa */
  color: #ffffff; /* Texto blanco */
  border: none;
  padding: 12px 24px; /* Padding aumentado para un aspecto más moderno */
  cursor: pointer;
  margin-right: 5px;
  border-radius: 6px; /* Esquinas redondeadas */
  transition: background-color 0.3s; /* Efecto de transición en el color de fondo */
}

.btn:hover {
  background-color: #ff6699; /* Cambiar el color de fondo al pasar el ratón */
}

/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px; /* Aumentar el espaciado dentro de las celdas */
  width: 10%; /* Ancho de las celdas al 10% del contenedor */
  text-align: center;
}

.table th {
  background-color: #ff9933; /* Color de fondo naranja */
  color: #ffffff; /* Texto blanco */
}

.table tr:hover {
  background-color: #444; /* Color de fondo al pasar el ratón por las filas */
}

/* Media Queries para diferentes tipos de pantallas */
@media (max-width: 767px) {
  .container {
    padding: 15px;
  }
  
  .table th,
  .table td {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  .form-control {
    padding: 8px;
  }

  .btn {
    padding: 10px 20px;
  }
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos para el formulario */

.form-container {
  background-color: #333; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Esquinas redondeadas */
  margin-bottom: 20px; /* Margen inferior para separar de otros elementos */
  width: 100%; /* Ancho del 100% por defecto */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: calc(100% - 20px); /* Ancho del 100% menos el padding interno */
  padding: 10px;
  background-color: #555; /* Fondo gris más oscuro */
  color: #ffffff;
  border: 1px solid #777; /* Borde gris */
  border-radius: 4px;
}

/* Media Query para dispositivos más pequeños como teléfonos móviles */
@media (max-width: 767px) {
  .form-container {
    padding: 15px; /* Reducir el espaciado para pantallas más pequeñas */
  }
  
  .form-control {
    width: calc(100% - 16px); /* Ajustar el ancho del campo de texto para pantallas más pequeñas */
  }
}

/* Media Query para tabletas y dispositivos medianos */
@media (min-width: 768px) and (max-width: 991px) {
  .form-container {
    padding: 18px; /* Ajustar el espaciado para tabletas */
  }
}

/* Media Query para pantallas de escritorio */
@media (min-width: 992px) {
  .form-container {
    padding: 20px; /* Restaurar el espaciado para pantallas más grandes si es necesario */
  }
}


/* fin del formulario */

/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px; /* Aumentar el espaciado dentro de las celdas */
  text-align: center;
}

/* Media Query para hacer la tabla responsiva */
@media (max-width: 767px) {
  .table th,
  .table td {
    padding: 8px;
    font-size: 0.9em; /* Reducir el tamaño del texto en pantallas más pequeñas */
  }
}

/* Estilos para el apartado de derechos reservados */
.derechos-reservados {
  display: block; /* Por defecto, mostrar el apartado de derechos reservados */
}

/* Media Query para dispositivos más pequeños como teléfonos móviles */
@media (max-width: 767px) {
  .derechos-reservados {
    display: none; /* Ocultar el apartado de derechos reservados en pantallas más pequeñas */
  }
}

/* Media Query para tabletas y dispositivos medianos */
@media (min-width: 768px) and (max-width: 991px) {
  .derechos-reservados {
    display: block; /* Mostrar el apartado de derechos reservados en tabletas y dispositivos medianos */
  }
}

/* Media Query para pantallas de escritorio */
@media (min-width: 992px) {
  .derechos-reservados {
    display: block; /* Mostrar el apartado de derechos reservados en pantallas de escritorio */
  }
}
